html {
    scroll-behavior: smooth;
    height: 100%;
}

*{
    color: white;
    font-family: 'Comfortaa';
    text-decoration: none;

}

body {
    background-image: url("./pattern.png"), linear-gradient(170deg,#0e1118, #262e3f);
    box-sizing: content-box;
}

img {
    width: 200px;
    border: solid white 5px;
    border-radius: 120px;
    box-sizing: content-box;
}

.avatar:hover {
    transform: scale(1.2);
}

.avatar{
    transition: all .20s cubic-bezier(0.4, 0, 1, 1);
    vertical-align: middle;
    float: right;
    margin: 35px 35px 35px 0px;

}

.avatar-text{
    float: left;
    color:white;
    font-size: 61px;
    font-family: 'Comfortaa';
    margin-right: 50px;
    margin-left: 20px;
    user-select: none;
}

.separator {
    background-color: #cfd8dc;
    height: 3px;
    margin-top: 20px;
    right: 25%;
    left: 25%;
    position: fixed;
}

.name{
    width: fit-content;
    align-items: center;
    display: flex;
    margin-top: 100px;
    transition: all .60s cubic-bezier(0.4, 0, 1, 1);
}

.container{
    display: none;
}

.lds-ripple {
    width: 96px;
    height: 96px;
    display: inline-block;
    position: relative;
  }
  .lds-ripple div {
    border-radius: 50%;
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 46px;
      left: 46px;
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 92px;
      height: 92px;
      opacity: 0;
    }
  }
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 3rem;
}
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.feature {
    width: auto;
    margin-right: 1.125rem;
    margin-left: 1.125rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.feature:hover {
    transform: scale(1.2);

}

.feature-header{
    display: flex;
    margin-bottom: .75rem;
    align-items: center;
}
.feature-icon{
    margin: 5px;
    font-size: 25px;
}
.feature-title{
    font-size: 25px;
}
