@import url("../fonts/Chillax/css/chillax.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Igor Stefaniak */

:root {
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --accent: #1aa7ec;
    accent-color: var(--accent);
    --theme: hsl(255, 9%, 9%);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Chillax-Regular', 'Comfortaa';
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: url("../images/background-pattern.png"), var(--theme);
    transition: ease-in-out 0.2s;
}

._vanish {
    visibility: hidden;
    opacity: 0;
}

::selection {
    background-color: var(--accent);
}

#container {
    margin: 0px auto;
    width: 900px;
    background-color: var(--theme);
    height: 100%;
    display: none;
}

:focus-visible {
    outline: 3px solid white;
    border-radius: 2px;
}

:focus-visible .button .bx {
    color: var(--accent) !important;
}

/* --- */

#splash {
    opacity: 1;
    display: grid;
    place-content: center;
    height: 100svh;
    width: -webkit-fill-available; 
    background: var(--theme);
    z-index: 10000;
    position:absolute;
    transition: opacity 0.3s, visibility 0.3s;
}

.loading-splash{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader { 
    margin-top: 18px;
    width:-webkit-fill-available; 
    border-radius:10px;
    border:4px solid transparent;
    position:relative;
    padding:1px;
  }
  .loader .loaderBar { 
    position:absolute;
    border-radius:10px;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    background:var(--accent); 
    width:0;
    animation:borealisBar 2s linear infinite;
    height: 6px;
  }

  #splash svg:nth-child(2){
    display: none;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }
/* --- */

.top-navbar {
    position: fixed;
    top: 25px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    right: 0;
    left: 0;
    z-index: 100;
    transition: ease-in-out 0.3s;
}

.items-navbar {
    align-items: center;
    display: flex;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-navbar .button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    transition: all .20s cubic-bezier(0.4, 0, 1, 1);
    text-decoration: none;
}

.top-navbar .button i {
    margin: 5px;
    font-size: 1.875rem;
    pointer-events: visible;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.top-navbar .button:hover i {
    color: var(--accent);
}

.top-navbar .button:hover {
    transform: scale(1.2);
    color: var(--accent);
}

.left-navbar {
    scale: 2;
    display: flex;
}

a:focus-visible+#settings-menu,
.dropdown:hover>#settings-menu {
    visibility: visible;
    opacity: 1;
}

.menu {
    position: fixed;
    width: 12rem;
    background: #252429;
    z-index: 100;
    top: 90px;
    border-radius: 23px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.menu li {
    list-style-type: none;
}

.menu ul li {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-items: center;
}

.menu ul li a,
.text-separator {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: all .20s cubic-bezier(0.4, 0, 1, 1);
    align-items: center;
}

.text-separator {
    margin: -2px 0 6px 0;
}

.menu .section ul li .text-separator::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2rem;
    right: 2rem;
    height: 0;
    border: 1px solid #ffffff36;
    border-radius: 10px;
}

.menu ul li a:hover {
    transform: scale(1.1);
}

.menu ul li a i,
.menu ul li i,
article .title i {
    margin-right: 6px;
}

.menu ul li {
    margin: 0.1rem 0.5rem 0.1rem 0.5rem;
    font-size: 1rem;
}

.menu ul {
    margin: 8px 2px 8px 2px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

.menu .title {
    font-size: 1.150rem;
    font-weight: 800;
    margin: 0.1rem !important;
}

.menu .subtitle {
    font-size: 1.05rem;
    margin: 0.1rem !important;
    margin-top: 0.2rem !important;
}

.menu .palette {
    font-size: 1.05rem;
    margin: 0.1rem !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
}


.menu .section {
    padding: 2px;
}

.text-separator::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 15px;
    right: 15px;
    height: 0;
    border: 1px solid #ffffff36;
    border-radius: 10px;
}

/* --- */

main {
    padding-top: 14rem;
}

.welcome-text {
    font-weight: 600;
    font-size: 2.875rem;
    line-height: 90%;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name {
    position: relative;
    display: inline-block;
    z-index: 0;
}

#name::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    border: 4px solid var(--accent);
    border-radius: 10px;
}

#hello-text {
    font-size: 2.2rem;
}

h1 {
    display: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
}

h2 {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
}

.work {
    font-family: 'Comfortaa', cursive;
    color: #96969b;
    font-size: 24px;
}

article {
    margin-top: 9rem;
}

article .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 800;
    margin: 0.1rem 0.1rem 0.1rem 1rem;

}

.main {
    border-radius: 20px;
    background: #1d1c21;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 500px;
    margin: 2rem;
}

footer {
    border-radius: 20px 20px 0 0;
    background: #1d1c21;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 150px;
    display: flex;
}

footer p {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-items: center;
}

.kolory {
    border-radius: 100%;
    border: #ffffff;
    border-style: solid;
    border-width: 2px;
    height: 16px;
    width: 16px;
}


.avatar img {
    width: 164px;
}

.swiper {
    height: inherit;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 130px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    background: var(--accent);
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-horizontal {
    bottom: 56px;
}

.swiper-title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
