@media only screen and (max-width:359px) {}

@media only screen and (max-width:575px) and (min-width:360px) {
  #splash svg {
    width: -webkit-fill-available;
  }

  #splash svg:nth-child(1) {
    display: none;
  }

  #splash svg:nth-child(2){
    display:block;
  }

  .left-navbar svg:nth-child(1) {
    display: none;
  }

  .left-navbar svg:nth-child(2){
    display:block;
  }

  #container {
    width: 100%;
  }

  .welcome-text {
    transform: scale(0.7) !important;
    text-align: center;
  }

  .top-navbar {
    left: 6px;
    right: 6px;
    top: 12px;
    width: unset !important;
    background-color: #252429;
    border-radius: 20px;
  }

  article {
    margin-top: 5rem;
  }

  .welcome {
    padding-top: 9rem;
  }

  .left-navbar {
    scale: 1.1;
    display: flex;
  }

  main {
    padding-top: 0;
  }

  .avatar {
    display: none;
  }

  #settings-menu {
    right: 10px;
  }

  .swiper-container{
    flex-direction: column;
    align-items: center;
  }
  .swiper-container .text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
    gap: 6px;
  }
  .text-section .button {
  margin: unset;
  margin-top: 12px;
  }
}

@media only screen and (max-width:899px) and (min-width:576px) {
  #splash svg {
    width: -webkit-fill-available;
  }

  #splash svg:nth-child(1) {
    display: none;
  }

  #splash svg:nth-child(2){
    display:block;
  }

  #container {
    width: 100%;
  }

  .welcome-text {
    transform: scale(0.7) !important;
    text-align: center;
  }

  .top-navbar {
    left: 6px;
    right: 6px;
    top: 12px;
    width: unset !important;
    background-color: #252429;
    border-radius: 20px;
  }

  article {
    margin-top: 5rem;
  }

  .welcome {
    padding-top: 9rem;
  }

  .left-navbar {
    scale: 1.1;
    display: flex;
  }

  main {
    padding-top: 0;
  }

  .avatar {
    display: none;
  }

  #settings-menu {
    right: 10px;
  }

  #container{
    width: unset;
  }
  .swiper-container{
    flex-direction: column;
    align-items: center;
  }
  .swiper-container .text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
    gap: 6px;
  }
  .text-section .button {
  margin: unset;
  margin-top: 12px;
  }
}

@media only screen and (max-width:1249px) and (min-width:900px) {
  .top-navbar {
    left: 6px;
    right: 6px;
    top: 12px;
    width: unset !important;
  }
}

@media only screen and (max-width:1649px) and (min-width:1250px) {}

@media only screen and (min-width:1650px) {}

 ::-webkit-scrollbar {
  width: 0px;
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 8px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #1d1c21;
}

.kontrast {
  background: #ffff00 !important;
  color: #0e0e0e !important;
}

.welcome-text>* {
  background: #ffffff00 !important;
}

#mouse {
  width: 25px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 20px;
  display: flex;
  bottom: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.mouse-wheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

._menu-darker {
  background-color: #252429;
  margin: 0px auto;
  width: 1000px;
  border-radius: 20px;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}